<a href="https://colab.research.google.com/github/AsmaeEl23/pySpark/blob/main/PySparkTp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=78bf3d4888f33d264ef140a60ab62d533a9d00eaaa7206e3a9de237525efd0e4
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("TP Spark").master("local[*]").getOrCreate()

In [ ]:
dfAchats=spark.read.json("achats.json")
dfAchats=spark.read.option("multiline",True).json("achats.json")
dfAchats.show()

+-----------------+---+---------+------+----+------+------+-------+-----------+--------------+----------+
|          adresse| id|nb_pieces|   nom|numC|prenom|  prix|surface|        tel|          type|     ville|
+-----------------+---+---------+------+----+------+------+-------+-----------+--------------+----------+
|      agdal rabat|  1|        4| ahmed|1111| krami|900000|    110| 0633445530| haut-standing|     rabat|
|      agdal rabat|  2|        3| ahmed|1111| krami|600000|     80| 0633445530|moyen-standing|     rabat|
|maarif casablanca|  3|        4|rachid|2222| Ahmed|900000|    110| 0754352130| haut-standing|casablanca|
|maarif casablanca|  4|        4| hajar|3333|  said|900000|    110|06938473230| haut-standing|casablanca|
|maarif casablanca|  5|        4|  said|4444|belhaj|900000|    110|06938473430| haut-standing|casablanca|
|      agdal rabat|  6|        4| hajar|5555|  said|900000|    110|06938473230|moyen-standing|     rabat|
|      agdal rabat|  7|        3| hajar|5555|  said|600000|     80|06938473230|moyen-standing|     rabat|
+-----------------+---+---------+------+----+------+------+-------+-----------+--------------+----------+

In [ ]:
dfAchats.printSchema()

root
 |-- adresse: string (nullable = true)
 |-- id: long (nullable = true)
 |-- nb_pieces: long (nullable = true)
 |-- nom: string (nullable = true)
 |-- numC: long (nullable = true)
 |-- prenom: string (nullable = true)
 |-- prix: long (nullable = true)
 |-- surface: long (nullable = true)
 |-- tel: string (nullable = true)
 |-- type: string (nullable = true)
 |-- ville: string (nullable = true)

In [ ]:
dfAchats.select("nom").show()

+------+
|   nom|
+------+
| ahmed|
| ahmed|
|rachid|
| hajar|
|  said|
| hajar|
| hajar|
+------+

In [ ]:
dfAchats.select(dfAchats["nom"],dfAchats["prix"]==900000).show()

+------+---------------+
|   nom|(prix = 900000)|
+------+---------------+
| ahmed|           true|
| ahmed|          false|
|rachid|           true|
| hajar|           true|
|  said|           true|
| hajar|           true|
| hajar|          false|
+------+---------------+

In [ ]:
condition = dfAchats.prix == 900000
dfAchats.filter(condition).select("nom", "prix").show()

+------+------+
|   nom|  prix|
+------+------+
| ahmed|900000|
|rachid|900000|
| hajar|900000|
|  said|900000|
| hajar|900000|
+------+------+

In [ ]:
dfAchats.show()

+-----------------+---+---------+------+----+------+------+-------+-----------+--------------+----------+
|          adresse| id|nb_pieces|   nom|numC|prenom|  prix|surface|        tel|          type|     ville|
+-----------------+---+---------+------+----+------+------+-------+-----------+--------------+----------+
|      agdal rabat|  1|        4| ahmed|1111| krami|900000|    110| 0633445530| haut-standing|     rabat|
|      agdal rabat|  2|        3| ahmed|1111| krami|600000|     80| 0633445530|moyen-standing|     rabat|
|maarif casablanca|  3|        4|rachid|2222| Ahmed|900000|    110| 0754352130| haut-standing|casablanca|
|maarif casablanca|  4|        4| hajar|3333|  said|900000|    110|06938473230| haut-standing|casablanca|
|maarif casablanca|  5|        4|  said|4444|belhaj|900000|    110|06938473430| haut-standing|casablanca|
|      agdal rabat|  6|        4| hajar|5555|  said|900000|    110|06938473230|moyen-standing|     rabat|
|      agdal rabat|  7|        3| hajar|5555|  said|600000|     80|06938473230|moyen-standing|     rabat|
+-----------------+---+---------+------+----+------+------+-------+-----------+--------------+----------+

**Les deux première villes ou l’entreprise a réalisé plus de ventes (en terme de revenues)**

In [ ]:
dfAchats.groupby("ville").sum("prix").orderBy("ville").show(2)

+----------+---------+
|     ville|sum(prix)|
+----------+---------+
|    Agadir|  8980000|
|casablanca|  2700000|
+----------+---------+
only showing top 2 rows

**La liste des clients qui possèdent plus qu’un appartement à rabat.**

In [ ]:
from pyspark.sql.functions import col
dfAchats.filter(dfAchats.ville=="rabat").groupBy("nom").count().filter(col("count")>1).show()

+-----+-----+
|  nom|count|
+-----+-----+
|hajar|    2|
|ahmed|    2|
+-----+-----+

**Le nombre d’appartements vendues à Casablanca.**

In [ ]:
dfAchats.filter(dfAchats.ville == 'casablanca').count()

3

In [ ]:
pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ImoMaroc Project Tasks Analysis") \
    .config("pyspark.jars", "/mysql-connector-java-8.0.28.jar")\
    .getOrCreate()

# Replace the following with your MySQL connection details
mysql_url = "jdbc:mysql://localhost:3306/DB_AEROPORT"
mysql_properties = {"user": "root", "password": "", "driver": "com.mysql.cj.jdbc.Driver"}

In [ ]:
import mysql.connector


host = "localhost"
port = 3306
user = "root"
password = ""
database = "DB_AEROPORT"

try:
    connection = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )
    print("Connected to MySQL server successfully")
    connection.close()
except Exception as e:
    print(f"Error: {e}")

ModuleNotFoundError: No module named 'mysql'

In [ ]:
vols_df = spark.read.jdbc(url=mysql_url, table="VOLS", properties=mysql_properties)
tasks_df = spark.read.jdbc(url=mysql_url, table="PASSAGERS", properties=mysql_properties)

Py4JJavaError: An error occurred while calling o108.jdbc.
: com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:64)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:835)
	at com.mysql.cj.jdbc.ConnectionImpl.<init>(ConnectionImpl.java:455)
	at com.mysql.cj.jdbc.ConnectionImpl.getInstance(ConnectionImpl.java:240)
	at com.mysql.cj.jdbc.NonRegisteringDriver.connect(NonRegisteringDriver.java:207)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:160)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:156)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:241)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:249)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: com.mysql.cj.exceptions.CJCommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
	at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:61)
	at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:105)
	at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:151)
	at com.mysql.cj.exceptions.ExceptionFactory.createCommunicationsException(ExceptionFactory.java:167)
	at com.mysql.cj.protocol.a.NativeSocketConnection.connect(NativeSocketConnection.java:91)
	at com.mysql.cj.NativeSession.connect(NativeSession.java:152)
	at com.mysql.cj.jdbc.ConnectionImpl.connectOneTryOnly(ConnectionImpl.java:955)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:825)
	... 30 more
Caused by: java.net.ConnectException: Connection refused (Connection refused)
	at java.base/java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.base/java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:412)
	at java.base/java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:255)
	at java.base/java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:237)
	at java.base/java.net.SocksSocketImpl.connect(SocksSocketImpl.java:392)
	at java.base/java.net.Socket.connect(Socket.java:609)
	at com.mysql.cj.protocol.StandardSocketFactory.connect(StandardSocketFactory.java:155)
	at com.mysql.cj.protocol.a.NativeSocketConnection.connect(NativeSocketConnection.java:65)
	... 33 more